<div class=root>
  <div class="navbar">
    <mat-toolbar class="header" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button>
        <mat-icon class="hamburger-icon" aria-label="Side nav toggle icon">{{ isMenuOpen ? 'menu_open' : 'menu' }}
        </mat-icon>
      </button>
      <p routerLink="/dashboard" routerLinkActive="active" class="logo" alt="logo"></p>
      <span class="filler"></span>
      <!-- TODO: Profile picture implementation -->
      <img class="profile" alt="p" [src]="pfpUrl | safeImageURL" (click)="login()" />
    </mat-toolbar>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>