.grey-background {
    background-color: lightgray;
}

.root {
    display: flex;
    grid-template-areas: "text text text image";
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

.text-container {
    grid-area: text;
}

.image-container {
    grid-area: image;
}