.root {
    height: 100%;
    display: flex;
}

.post-list {
    display: flex;
    overflow: auto;
    flex: 3 0 0px;
}

.right-side {
    flex: 1 0 0px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.right-side-item {
    flex: 1 0 0px;
}